extends layout

block content
  h1 #{main.name} (#{main.email})
  h2 Gifts: #{main.present.length}
    each gift in main.present 
      h3 Name: #{gift.name}
      h3 Status: #{gift.perished}
      if gift.interestedBy.length == 0
        p Noone interested yet 
      else 
        p Interested by: #{gift.interestedBy.map => main.name}.join(', ')
      if gift.commentedby.length == 0
        p Noone commented yet 
      else 
        p Commented by: #{gift.commented.map => main.name}.join(', ')
 